.pinglun>h1{
  color: #414141;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 200;
  text-align: center;
}
.dish-sub-detail{
  text-align: center;
  color: #818181;
  opacity: .8;
  margin-bottom: 20px;
}
.comment-form{
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 10px;
  margin: 40px 0px;
}
.comment-form input{
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  line-height: 31px;
  font-size: 15px;
  color: #777777;
  flex-grow: 1;
}
.comment-form button{
  background-image: linear-gradient(-45deg, #F77062 0%, #FE5196 100%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
  border-radius: 2px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  width: 90px;
  border: 0;
}
.pinglun>li{
  display: flex;
  margin: 30px 0;
  list-style: none;
}
.pinglun .pic{
  background-image: url("http://media.haoduoshipin.com/yummy/default-avatar.png");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center center;
  background-size: 70px;
}
.com-user-name{
  font-size: 17px;
  line-height: 24px;
  color: #6E6E6E;
}
.comment-content{
  font-size: 14px;
  color: #AAAAAA;
}
.comment-item{
  flex-grow: 1;
  margin-left: 9px;
  padding-top: 5px;
}
